<p id="notice"><%= notice %></p>


<header>
  <a href= />
<img src="/pp_logo.png" alt="PoliPoints Logo" class="img">  </a>
</header>



<br>
<div class="bg-primary" style="background-color:blue; width: 800px position: relative; left: 30px;">
<a href= candidates/1>
    <img src="/hillary_square.png" alt="Hillary Clinton" class="img-circle" width= 250px height= 250px>
</a>
<a href= candidates/2>
    <img src="/bernie_square.png" alt="Bernie Sanders" class="img-circle" width= 250px height= 250px>
</a>
</div>
<br>
<br>
<div class="bg-danger" style="background-color:red; width: 800px position: relative; left: 30px;">
  <a href= candidates/3>
      <img src="/trump_square.png" alt="Donald Trump" class="img-circle" width= 250px height= 250px>
  </a>
  <a href= candidates/4>
      <img src="/tc_square.png" alt="Ted Cruz" class="img-circle" width= 250px height= 250px>
  </a>
</div>
