<p id="notice"><%= notice %></p>


<header>
  <a href= />
<img src="/pp_logo.png" alt="PoliPoints Logo" class="img">  </a>
</header>



<br>
<div class="bg-primary" style="background-color:blue; width: 800px position: relative; left: 30px;">
<a href= candidates/1>
    <img src="http://i.telegraph.co.uk/multimedia/archive/02831/Clinton1web_2831249b.jpg" alt="Hillary Clinton" class="img-circle" width= 300px height= 300px>
</a>
<a href= candidates/2>
    <img src="https://ak-hdl.buzzfed.com/static/enhanced/webdr06/2013/7/18/10/enhanced-buzz-27606-1374157301-26.jpg" alt="Bernie Sanders" class="img-circle" width= 300px height= 300px>
</a>
</div>
<br>
<br>
<div class="bg-danger" style="background-color:red; width: 800px position: relative; left: 30px;">
  <a href= candidates/3>
      <img src="https://uploads.disquscdn.com/images/c1fc53302ee6ee76692cd6992bfecc20700a787ecb5d70a22485a8da6cc676a7.jpg" alt="Donald Trump" class="img-circle" width= 300px height= 300px>
  </a>
  <a href= candidates/4>
      <img src="http://www.speakgif.com/wp-content/uploads/bfi_thumb/Ted-Cruz-Deal-with-it-ANIMATED-GIF-30qk9fywwpmsps5mhuedxc.gif" alt="Ted Cruz" class="img-circle" width= 300px height= 300px>
  </a>
</div>
